{
  "branches": [
    "main",
    "develop",
    { "name": "feature/*", "prerelease": "SNAPSHOT" }
  ],
  "repositoryUrl": "https://x-access-token:${GH_TOKEN}@github.com/alexottonizup/application.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/exec"
  ]
}