{
  "branches": ["main", "develop", {"name": "release/*"}, {"name": "feature/*"}],
  "repositoryUrl": "https://github.com/alexottonizup/application",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
